<div class="container">
  <a [routerLink]="['/baimau1']" class="btn btn-danger">Bài 1</a>&nbsp;
  <a [routerLink]="['/baimau2']" class="btn btn-primary">Bài 2</a>&nbsp;
  <a [routerLink]="['/baimau3']" class="btn btn-warning">Bài 3</a>&nbsp;
  <a [routerLink]="['/baitl1']" class="btn btn-warning">Bài TL 1</a>&nbsp;
  <a [routerLink]="['/baitl2']" class="btn btn-warning">Bài TL 2</a>&nbsp;
  <a [routerLink]="['/baitl3']" class="btn btn-warning">Bài TL 3</a>&nbsp;
  <a [routerLink]="['/baitl4']" class="btn btn-warning">Bài TL 4</a>&nbsp;
  <a [routerLink]="['/baitl5']" class="btn btn-warning">Bài TL 5</a>&nbsp;
  <a [routerLink]="['/baitl6']" class="btn btn-warning">Bài TL 6</a>&nbsp;
  <a [routerLink]="['/baitl7']" class="btn btn-warning">Bài TL 7</a>&nbsp;
  <a [routerLink]="['/baitl8']" class="btn btn-warning">Bài TL 8</a>&nbsp;
  <router-outlet></router-outlet>

</div>
